.checkout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  z-index: 5;

  &__popup {
    position: absolute;
    visibility: hidden;
    top: 35%;
    left: 0;
    transition: all 1s ease;
    min-width: 200px;
    width: auto;
    max-width: 100%;
    padding: 24px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    transform: translateX(-110%);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    span {
      width: 100%;
      text-align: center;
      font-size: 16px;
      display: block;
      padding: 12px 0;
      font-weight: 550;
    }

    &.active {
      visibility: visible;
      animation-name: popup;
      animation-duration: 8s;
    }
  }

  &__header {
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 12px;
    text-transform: uppercase;

    span {
      padding: 3px 7.5px;
      margin-right: 8px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.9);
      color: #fff;
    }
  }

  &__form {
    width: calc(70% - 125px);
    min-width: 280px;

    &__section {
      margin-bottom: 48px;
    }

    &__button {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      border: none;
      outline: none;
      color: #fff;
      background-color: #47d400;
      font-weight: 550;
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
      transform: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &:hover {
        opacity: 90%;
      }

      &:active {
        background-color: darken(#47d400, 10%);
      }
    }
  }

  &__form,
  &__info {
    height: 100%;
    margin: 10px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__info {
    width: 30%;
    min-width: 280px;
    background-color: #ffffff;
    margin-top: 50px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);

    &--spacer {
      padding: 16px;
      border: 1px dotted rgba(0, 0, 0, 0.15);
      border-radius: 5px;
    }

    &__box {
      margin-top: 12px;
      padding-bottom: 24px;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.15);

      .box__row {
        padding-bottom: 12px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: space-between;
      }

      &--total {
        font-weight: 550;

        .total {
          font-size: 22px;
          font-weight: 700;
        }
      }
    }
  }
}

.form__row {
  width: calc(100% - 32px);
  padding: 8px;
  display: flex;
  height: 40px;
  font-size: 14px;
  background-color: #ffffff;
  margin: 24px 16px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;

  &--data-entry {
    display: inline-block;
    width: 100%;
    height: 100%;

    &.error label {
      color: red;
    }

    &.validated label {
      color: lightblue;
    }
  }

  &--double {
    justify-content: space-between;

    &--data-entry {
      width: 48%;
    }
  }

  label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.9);
  }

  input,
  select {
    margin-top: 8px;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-weight: 550;
    font-size: 14px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none;
    box-shadow: 0 0 0 50px #fff inset;
    -webkit-box-shadow: 0 0 0 50px #fff inset;
  }
}

@keyframes popup {
  0% {
    transform: translateX(-110%);
  }
  20% {
    transform: translateX(10%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-110%);
  }
}
