@layout('layouts/main')
@set('title', 'Tesla checkout')

@section('body')
<section class="checkout">
  <div class="checkout__popup js-popup"></div>
  @!component('components/checkout/form')
  @!component('components/checkout/order')
</section>
@end
